[gerrit]
user = my-login
# to generate password: Gerrit -> Settings -> HTTP Password
password = my-password
host = example.com:8443
ci = jenkins

[Robot]
# interval between checks (valid suffixes are h, m, s)
interval = 1m
# which projects to monitor (can be multiple lines)
project = my-project1
project = my-project2
# uncomment to enable profiling
# profile = 127.0.0.1:6060
